<div class="login-container">
  <div class="login-form">
    <h2 class="login-title">
      <span class="title-part">GOLD</span>
      <span class="title-part">CLUB</span>
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input formControlName="email" placeholder="email" class="login-input" />
      <input formControlName="password" placeholder="Password" type="password" class="login-input" />
      <button type="submit" class="login-button">SIGN IN</button>
      <button type="button" (click)="navigateToRegister()" class="login-button">SIGN UP</button>
    </form>
  </div>
</div>
